# Python
*.pyc
*.pyo
__pycache__/
env/

# Django
*.log
db.sqlite3
/static/
/media/

# IDE
.vscode/
*.idea/

# Environment
.env

# IPython history file
.ipython/

# Pillow cache
Pillow/

# Virtual environment
venv/
