{% extends 'base.html' %}

{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Получателей</title>
</head>
<body>
<h1>Список Получателей</h1>
<ul>
    {% for recipient in recipients %}
    <li>{{ recipient.name }} - {{ recipient.email }}
        <form method="post" action="{% url 'recipient_delete' recipient.id %}">
            {% csrf_token %}
            <button type="submit">Удалить</button>
        </form>
    </li>
    {% endfor %}
</ul>
</body>
</html>
{% endblock %}
