{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                {% if product.image_url %}
                <a href="/product/{{ product.id }}">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                </a>
                {% else %}
                <div class="no-image-placeholder"></div>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                    <h5 class="card-title pricing-card-title">${{ product.price }}</h5>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Неограниченная лицензия</li>
                        <li>- Поддержка</li>
                        <li>- Установка на сервер</li>
                        <li>- Получение обновлений</li>
                    </ul>
                    <a href="/product/{{ product.id }}" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
