{% extends 'base.html' %}
{% block content %}
<style>
    .border-image {
        border: 6px solid black; /* Черная рамка толщиной 6px */
        padding: 5px; /* Отступ внутри рамки */
        border-radius: 5px; /* Скругление углов */
    }

    .active-version {
        color: green; /* зеленый цвет для галочки */
        font-size: 30px; /* размер шрифта галочки */
        margin-left: 5px; /* отступ слева от текста */
    }

    .inactive-version {
        color: red; /* красный цвет для крестика */
        font-size: 30px; /* размер шрифта крестика */
        margin-left: 5px; /* отступ слева от текста */
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p>Цена: ${{ product.price }}</p>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-fluid border-image" alt="{{ product.name }}">
                    {% else %}
                        <p>Изображение отсутствует</p>
                    {% endif %}
                    {% if is_active_version %}
                        <p>Версия активна <span class="active-version">&#10003;</span></p>
                    {% else %}
                        <p>Версия не активна <span class="inactive-version">&#10007;</span></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
