{% extends 'base.html' %}

{% block content %}
{% load custom_filters %} {# Загрузка кастомного шаблонного фильтра #}
<style>
    .border-image {
        border: 6px solid black; /* Черная рамка толщиной 6px */
        padding: 5px; /* Отступ внутри рамки */
        border-radius: 5px; /* Скругление углов */
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p>Цена: ${{ product.price }}</p>
                    {% if product.image %}
                    <img src="{{ product.image |add_media_prefix }}" class="img-fluid border-image"
                         alt="{{ product.name }}">
                    {% else %}
                    <p>Изображение отсутствует</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}